<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/AdminThemes/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/AdminThemes/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Biểu đồ CSS -->
    <link href="/AdminThemes/css/plugins/morris.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom Fonts -->
    <link href="/AdminThemes/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    
</head>

<body>
    
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">Diamond Sea Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Jisoo</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Hello Honey <3</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Thông báo <span class="label label-default">Thông báo</span></a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{layoutVM.staffName}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/admin/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Loại phòng</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa fa-tasks"></i> Trả phòng</a>
                    </li>
                    <li class="active">
                        <a href="/admin/booked"><i class="fa fa-fw fa fa-pencil-square-o"></i> Nhập phiếu thuê</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Nhập phiếu thuê <small> Xem các thông tin liên quan</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Đơn đặt phòng
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                

                

                

        
              
        <div class="row">
            
        
            
            <table class="table">
                <thead>
                    <tr>
                            <th style="border:1px solid black">ID</th>
                            <th style="border:1px solid black">Tên phòng</th>
                            <th style="border:1px solid black">Số ngày thuê</th>
                            <th style="border:1px solid black">Tên người thuê</th>
                            <th style="border:1px solid black">Địa chỉ</th>
                            <th style="border:1px solid black">SĐT</th>
                            <th style="border:1px solid black">Giới tính</th>
                            <th style="border:1px solid black">Khác</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each phieu_Dat}}
                        <tr style="border:1px solid black" >
                            <td style="border:1px solid black">{{reservation_id}}</td>
                            <td style="border:1px solid black">{{type_name}}</td>
                            <td style="border:1px solid black">{{number_of_days}}</td>
                            <td style="border:1px solid black">{{name}}</td>
                            <td style="border:1px solid black">{{address}}</td>
                            <td style="border:1px solid black">{{phone}}</td>
                            
                            <td class="gioitinh" style="border:1px solid black">{{gender}}</td>
                            <td class="" style="border:1px solid black">{{note}}</td>
                            
                        </tr>
                        {{!-- <script>
                            var num = document.getElementsByClassName("num");
                            console.log(num);
                                if (num == 1)
                                {
                                    document.getElementsByClassName("gioitinh").innerHTML = "Paragraph changed!"
                                }
                                else{
                                    gioitinh.innerHTML.value="Nữ"
                                }
                                
                            
                        </script> --}}
                    {{/each}}
                </tbody>
            </table>
        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Tình trạng các phòng
                            </li>
        </ol>
        <table class="table">
                <thead>
                    <tr>
                            <th style="border:1px solid black">ID</th>
                            <th style="border:1px solid black">Loại phòng</th>
                            <th style="border:1px solid black">Người thuê</th>
                            <th style="border:1px solid black">Trạng thái</th>
                            
                    </tr>
                </thead>
                <tbody>
                    {{#each phong}}
                        <tr style="border:1px solid black" >
                            <td style="border:1px solid black">{{room_id}}</td>
                            <td style="border:1px solid black">{{room_type_id}}</td>
                            <td style="border:1px solid black">{{id_renter}}</td>
                            <td id="tt"style="border:1px solid black">{{room_status}}</td>
                           
                            
                        </tr>
                        
                    {{/each}}
                </tbody>
            </table>
            <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Bảng giá thức ăn
                            </li>
        </ol>
        
        <table class="table">
                <thead>
                    <tr>
                            <th style="border:1px solid black">Tên</th>
                            <th style="border:1px solid black">Giá</th>

                            
                    </tr>
                </thead>
                <tbody>
                    {{#each food}}
                        <tr style="border:1px solid black" >
                            <td style="border:1px solid black">{{name}}</td>
                            <td style="border:1px solid black">{{price}} $</td>
                           
                            
                        </tr>
                        {{!-- <script>
                            var num = document.getElementsByClassName("num");
                            console.log(num);
                                if (num == 1)
                                {
                                    document.getElementsByClassName("gioitinh").innerHTML = "Paragraph changed!"
                                }
                                else{
                                    gioitinh.innerHTML.value="Nữ"
                                }
                                
                            
                        </script> --}}
                    {{/each}}
                </tbody>
            </table>



        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Nhập phiếu thuê
                            </li>
        </ol>
        {{#if showAlert}}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Category added.
        </div>
        {{/if}}

        <form action="" method="POST" role="form">
            
            <div class="form-group">
                <label for="">ID người thuê</label>
                <input type="text" class="form-control" id="" name="renter_id" placeholder="ID">
            </div>
            <div class="form-group">
                <label for="">ID phòng</label>
                <input type="text" class="form-control" id="" name="room_id" placeholder="ID phòng">
            </div>
            <div class="form-group">
                <label for="">Tổng giá</label>
                <input type="text" class="form-control" id="" name="total_price" placeholder="Tổng giá">
            </div>
            <div class="form-group">
                <label for="">Ngày bắt đầu thuê</label>
                <input type="date" class="form-control" id="" name="start_day" placeholder="Ngày bắt đầu">
            </div>

            {{!-- <a class="btn btn-default" href="/category" role="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                View list
            </a> --}}
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-check"></span>
                Save
            </button>
        </form>
            
        </div>
                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/AdminThemes/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/AdminThemes/js/bootstrap.min.js"></script>

    <!-- Morris Biểu đồ JavaScript -->
    <script src="/AdminThemes/js/plugins/morris/raphael.min.js"></script>
    <script src="/AdminThemes/js/plugins/morris/morris.min.js"></script>
    <script src="/AdminThemes/js/plugins/morris/morris-data.js"></script>

</body>

</html>
