<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/AdminThemes/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/AdminThemes/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Biểu đồ CSS -->
    <link href="/AdminThemes/css/plugins/morris.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom Fonts -->
    <link href="/AdminThemes/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Diamond Sea Admin</a>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Đăng nhập
                            <small> Nhân viên</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-user"></i> Nhập thông tin đăng nhập
                            </li>
                        </ol>
                    </div>

                    <div class="col-lg-4">
                        <form method="post" action="">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input class="form-control" type="text" name="email" placeholder="email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                            {{#if showError}}
                            <div class="alert alert-danger">
                                <strong>Error!</strong> {{errorMsg}}</div>
                            {{/if}}
                        </form>
                    </div>
                </div>
            </div>



        </div>

    </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/AdminThemes/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/AdminThemes/js/bootstrap.min.js"></script>

    <!-- Morris Biểu đồ JavaScript -->
    <script src="/AdminThemes/js/plugins/morris/raphael.min.js"></script>
    <script src="/AdminThemes/js/plugins/morris/morris.min.js"></script>
    <script src="/AdminThemes/js/plugins/morris/morris-data.js"></script>

</body>

</html>