<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/AdminThemes/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/AdminThemes/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Biểu đồ CSS -->
    <link href="/AdminThemes/css/plugins/morris.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom Fonts -->
    <link href="/AdminThemes/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    
</head>

<body>
    
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Diamond Sea Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Jisoo</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Hello Honey <3</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Thông báo <span class="label label-default">Thông báo</span></a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{layoutVM.staffName}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="../before_login/index.html"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Loại phòng</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa fa-tasks"></i> Danh sách nhân viên</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa fa-pencil-square-o"></i> Đơn đặt phòng</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Quản lý <small> Loại phòng</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Cập nhật giá phòng
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
    
        <div class="row">
                {{#with room}}
                
                <div class="container">

                    
                    


                    

                    
                            
                            
    
                            <form action="" method="POST" role="form">
                                <div class="form-group">
                                    <label for="">Room Type 's Name</label>
                                    <input type="text" class="form-control" id="" name="type_name" readonly value="{{type_name}}">
                                </div>
                                <div class="form-group">
                                    <label for="">Price</label>
                                    <input type="text" class="form-control" id="" name="price" placeholder="Input field" value="{{price}}">
                                </div>
                                <a class="btn btn-default" href="/admin" role="button">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    Back
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    Update
                                </button>
                            </form>
                            <h1></h1>
                            <div style="">
                    <img src="/CustomerThemes/images/{{room_type_id}}/1.jpg" class="img-responsive" alt="slide">
                    </div>
                        </div>
                    </div>



                </div>

                {{/with }}
        </div>
                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/AdminThemes/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/AdminThemes/js/bootstrap.min.js"></script>

    <!-- Morris Biểu đồ JavaScript -->
    <script src="/AdminThemes/js/plugins/morris/raphael.min.js"></script>
    <script src="/AdminThemes/js/plugins/morris/morris.min.js"></script>
    <script src="/AdminThemes/js/plugins/morris/morris-data.js"></script>

</body>

</html>
