<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Khách sạn Diamond Sea</title>

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500,800|Old+Standard+TT' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500,800' rel='stylesheet' type='text/css'>

    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/CustomerThemes/assets/bootstrap/css/bootstrap.min.css" />

    <!-- uniform -->
    <link type="text/css" rel="stylesheet" href="/CustomerThemes/assets/uniform/css/uniform.default.min.css" />

    <!-- animate.css -->
    <link rel="stylesheet" href="/CustomerThemes/assets/wow/animate.css" />


    <!-- gallery -->
    <link rel="stylesheet" href="/CustomerThemes/assets/gallery/blueimp-gallery.min.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="/CustomerThemes/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/CustomerThemes/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/CustomerThemes/assets/style.css">

</head>

<body id="home">
    <!-- header -->
    <nav class="navbar  navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/CustomerThemes/images/logo.png" alt="Diamond Sea hotel">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Trang chủ </a>
                    </li>
                    <li>
                        <a href="/customer/rooms">Phòng nghỉ</a>
                    </li>
                    <li>
                        <a href="/customer/introduction">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="/admin">Đăng nhập</a>
                    </li>
                </ul>
            </div>
            <!-- Wnavbar-collapse -->
        </div>
        <!-- container-fluid -->
    </nav>
    <!-- header -->


    <!-- banner -->
    <div class="banner">
        <img src="/CustomerThemes/images/photos/banner.jpg" class="img-responsive" alt="slide">
        <div class="welcome-message">
            <div class="wrap-info">
                <div class="information">
                    <h1 class="animated fadeInDown">Diamond Sea Hotel</h1>
                    <p class="animated fadeInUp">Chào mừng quý khách đến với khách sạn Diamond Sea.</p>
                </div>
                <a href="#information" class="arrow-nav scroll wowload fadeInDownBig">
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner-->


    <!-- reservation-information -->
    <div id="information" class="spacer reserve-info ">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-8">
                    <div class="embed-responsive embed-responsive-16by9 wowload fadeInLeft">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/zFVqywEKDVQ" frameborder="0" allow="autoplay; encrypted-media"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4">
                    <h3>Đặt phòng</h3>
                    <form role="form" class="wowload fadeInRight" action="/customer/add" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Họ Tên" name="name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Địa chỉ" name="address" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Số điện thoại" name="phone" required>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <select class="form-control" name="gender" required>
                                        <option>Giới tính</option>
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" placeholder="Số ngày thuê" min=0 name="number_of_days" required>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="room_type_id" required>
                                <option>Loại Phòng</option>
                                <option value="1">Ocean Premier Twin</option>
                                <option value="2">Ocean Premier Double</option>
                                <option value="3">Deluxe Double</option>
                                <option value="4">Superior Double</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Ghi chú" rows="4" name="note"></textarea>
                        </div>
                        <button class="btn btn-default" type="submit">Đặt</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- reservation-information -->



    <!-- services -->
    <div class="spacer services wowload fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <!-- RoomCarousel -->
                    <div id="RoomCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" style="height:225px">
                            <div class="item active">
                                <a href="http://localhost:3000/customer/room-details/1">
                                    <img src="/CustomerThemes/images/1/1.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/room-details/2">
                                    <img src="/CustomerThemes/images/2/1.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/room-details/3">
                                    <img src="/CustomerThemes/images/3/1.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/room-details/4">
                                    <img src="/CustomerThemes/images/4/1.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#RoomCarousel" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#RoomCarousel" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <!-- RoomCarousel-->
                    <div class="caption">Phòng
                        <a href="/customer/rooms" class="pull-right">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>


                <div class="col-sm-4">
                    <!-- RoomCarousel -->
                    <div id="TourCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="http://localhost:3000/customer/service">
                                    <img src="/CustomerThemes/images/service/1.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/service">
                                    <img src="/CustomerThemes/images/service/2.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/service">
                                    <img src="/CustomerThemes/images/service/3.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/service">
                                    <img src="/CustomerThemes/images/service/4.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#TourCarousel" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#TourCarousel" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <!-- RoomCarousel-->
                    <div class="caption">Dịch vụ
                        <a href="/customer/service" class="pull-right">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>


                <div class="col-sm-4">
                    <!-- RoomCarousel -->
                    <div id="FoodCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" style="height:225px">
                            <div class="item active">
                                <a href="http://localhost:3000/customer/food">
                                    <img src="/CustomerThemes/images/food/1.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/food">
                                    <img src="/CustomerThemes/images/food/2.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/food">
                                    <img src="/CustomerThemes/images/food/3.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                            <div class="item  height-full">
                                <a href="http://localhost:3000/customer/food">
                                    <img src="/CustomerThemes/images/food/4.jpg" class="img-responsive" alt="slide">
                                </a>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#FoodCarousel" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#FoodCarousel" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <!-- RoomCarousel-->
                    <div class="caption">Món ăn
                        <a href="/customer/food" class="pull-right">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services -->





    <footer class="spacer">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h4>Diamond Sea</h4>
                    <p>
                        <i class="fa fa-map-marker"></i> Địa chỉ: 232 Vo Nguyen Giap, Đà Nẵng, Việt Nam </p>
                    <p>
                        <i class="fa fa-phone"></i> Điện thoại: 0236 3939 777 </p>
                </div>
                <div class="col-sm-3">
                    <h4>Nhóm phát triển</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/people/%C4%90t-Nguy%E1%BB%85n/100006522224736">Nguyễn Đại Tài</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/hTamNguyen9.7">Nguyễn Tấn Hữu Tâm</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/pham.le.thien.tam">Phạm Lê Thiện Tâm</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 subscribe">
                    <h4>SOCIAL MEDIA </h4>
                    <a href="https://www.facebook.com/diamondseadanang" style="text-decoration: none">
                        <img width="60" height="60" src="/CustomerThemes/images/facebook.png" title="facebook" alt="facebook" />
                    </a>
                    <a href="https://twitter.com/https://twitter.com/hoteldiamondsea" style="text-decoration: none">
                        <img width="60" height="60" src="/CustomerThemes/images/twitter.png" title="twitter" alt="twitter" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCLvoa9SpBd7qvl2Vh8k3EPA" style="text-decoration: none">
                        <img width="60" height="60" src="/CustomerThemes/images/youtube.png" title="youtube" alt="youtube" />
                    </a>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->

        <!--/.footer-bottom-->
    </footer>

    <div class="text-center copyright">Phân tích và thiết kế phần mềm CQ2015/32
    </div>

    <a href="#home" class="toTop scroll">
        <i class="fa fa-angle-up"></i>
    </a>




    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title">title</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
    </div>





    <script src="/CustomerThemes/assets/jquery.js"></script>

    <!-- wow script -->
    <script src="/CustomerThemes/assets/wow/wow.min.js"></script>

    <!-- uniform -->
    <script src="/CustomerThemes/assets/uniform/js/jquery.uniform.js"></script>


    <!-- boostrap -->
    <script src="/CustomerThemes/assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>

    <!-- jquery mobile -->
    <script src="/CustomerThemes/assets/mobile/touchSwipe.min.js"></script>

    <!-- jquery mobile -->
    <script src="/CustomerThemes/assets/respond/respond.js"></script>

    <!-- gallery -->
    <script src="/CustomerThemes/assets/gallery/jquery.blueimp-gallery.min.js"></script>


    <!-- custom script -->
    <script src="/CustomerThemes/assets/script.js"></script>


</body>

</html>