<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Khách sạn Diamond Sea</title>

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500,800|Old+Standard+TT' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500,800' rel='stylesheet' type='text/css'>

    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/CustomerThemes/assets/bootstrap/css/bootstrap.min.css" />

    <!-- uniform -->
    <link type="text/css" rel="stylesheet" href="/CustomerThemes/assets/uniform/css/uniform.default.min.css" />

    <!-- animate.css -->
    <link rel="stylesheet" href="/CustomerThemes/assets/wow/animate.css" />


    <!-- gallery -->
    <link rel="stylesheet" href="/CustomerThemes/assets/gallery/blueimp-gallery.min.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="/CustomerThemes/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/CustomerThemes/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/CustomerThemes/assets/style.css">

</head>

<body id="home">
    <!-- header -->
    <nav class="navbar  navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/CustomerThemes/images/logo.png" alt="Diamond Sea hotel">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Trang chủ </a>
                    </li>
                    <li>
                        <a href="/customer/rooms">Phòng nghỉ</a>
                    </li>
                    <li>
                        <a href="/customer/introduction">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="/admin">Đăng nhập</a>
                    </li>
                </ul>
            </div>
            <!-- Wnavbar-collapse -->
        </div>
        <!-- container-fluid -->
    </nav>
    <!-- header -->





    <div class="container">

        <h1 class="title">Giới thiệu</h1>
        <div class="row">
            <div class="col-sm-4">
                <p>Nằm cạnh Bãi biển Mỹ Khê ở thành phố Đà Nẵng, Diamond Sea Hotel cung cấp các chỗ ở hiện đại và thoải mái
                    với Wi-Fi miễn phí toàn khuôn viên. Khách sạn có hồ bơi ngoài trời trên tầng mái, trung tâm thể dục và
                    chỗ đỗ xe miễn phí tại chỗ.</p>
            </div>
            <div class="col-sm-4">
                <p>Với tầm nhìn ra biển, các phòng máy lạnh tại đây được trang bị tủ quần áo, giá treo quần áo, truyền hình
                    cáp màn hình phẳng và khu vực tiếp khách. Ngoài ra còn có minibar và ấm đun nước điện. Phòng tắm riêng
                    đi kèm tiện nghi vòi sen, dép và máy sấy tóc.</p>
            </div>
            <div class="col-sm-4">
                <p>Tại Diamond Sea Hotel, quý khách có thể tận hưởng liệu pháp mát-xa thư giãn ở spa hoặc sử dụng tiện nghi
                    xông hơi khô. Nhân viên thân thiện tại quầy lễ tân 24 giờ có thể hỗ trợ quý khách với các dịch vụ cho
                    thuê xe đạp/xe hơi, giặt là và sắp xếp tour du lịch. </p>
            </div>
        </div>


        <div class="spacer">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zFVqywEKDVQ" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>

        </div>




    </div>




    <footer class="spacer">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h4>Diamond Sea</h4>
                    <p>
                        <i class="fa fa-map-marker"></i> Địa chỉ: 232 Vo Nguyen Giap, Đà Nẵng, Việt Nam </p>
                    <p>
                        <i class="fa fa-phone"></i> Điện thoại: 0236 3939 777 </p>
                </div>
                <div class="col-sm-3">
                    <h4>Nhóm phát triển</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/people/%C4%90t-Nguy%E1%BB%85n/100006522224736">Nguyễn Đại Tài</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/hTamNguyen9.7">Nguyễn Tấn Hữu Tâm</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/pham.le.thien.tam">Phạm Lê Thiện Tâm</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 subscribe">
                    <h4>SOCIAL MEDIA </h4>
                    <a href="https://www.facebook.com/diamondseadanang" style="text-decoration: none">
                        <img width="60" height="60" src="/CustomerThemes/images/facebook.png" title="facebook" alt="facebook" />
                    </a>
                    <a href="https://twitter.com/https://twitter.com/hoteldiamondsea" style="text-decoration: none">
                        <img width="60" height="60" src="/CustomerThemes/images/twitter.png" title="twitter" alt="twitter" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCLvoa9SpBd7qvl2Vh8k3EPA" style="text-decoration: none">
                        <img width="60" height="60" src="/CustomerThemes/images/youtube.png" title="youtube" alt="youtube" />
                    </a>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->

        <!--/.footer-bottom-->
    </footer>

    <div class="text-center copyright">Phân tích và thiết kế phần mềm CQ2015/32
    </div>

    <a href="#home" class="toTop scroll">
        <i class="fa fa-angle-up"></i>
    </a>




    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title">title</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
    </div>





    <script src="/CustomerThemes/assets/jquery.js"></script>

    <!-- wow script -->
    <script src="/CustomerThemes/assets/wow/wow.min.js"></script>

    <!-- uniform -->
    <script src="/CustomerThemes/assets/uniform/js/jquery.uniform.js"></script>


    <!-- boostrap -->
    <script src="/CustomerThemes/assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>

    <!-- jquery mobile -->
    <script src="/CustomerThemes/assets/mobile/touchSwipe.min.js"></script>

    <!-- jquery mobile -->
    <script src="/CustomerThemes/assets/respond/respond.js"></script>

    <!-- gallery -->
    <script src="/CustomerThemes/assets/gallery/jquery.blueimp-gallery.min.js"></script>


    <!-- custom script -->
    <script src="/CustomerThemes/assets/script.js"></script>


</body>

</html>